<div class="tshadow d-flex justify-content-center">

  <h1 class="display-1">{{now}}</h1>
</div>
<div class="tshadow">
  <h2>{{greeting}}</h2>
</div>
<br/>
<div class="tshadow">
  <div *ngIf="!hasName">
    <input type="text" name="name" [(ngModel)]="user.name" (keyup.enter)=setUser() class="question" id="nme1" required autocomplete="off"
    />
    <label for="nme1">
      <span>What's your name?</span>
    </label>
  </div>
  <div *ngIf="hasName && !actualTask" class="input-size">
    <input type="text" name="task" [(ngModel)]="user.task" (keyup.enter)=setUser() class="question" id="nme2" required autocomplete="off"
    />
    <label for="nme2">
      <span>What's your main focus for today?</span>
    </label>
  </div>
</div>
<div *ngIf="actualTask" class="flexContainerCenter tshadow">
  <input type="checkbox">
  <p>{{actualTask}}</p>
  <span (click)="deleteActualTask()" class="close blades black"></span>
</div>
