<!--The content below is only a placeholder and can be replaced.-->

<app-background></app-background>

<header>
  <h1>Header</h1>
</header>

<main class="main-container">

  <aside class="aside_left">
    <h1>left</h1>
  </aside>

  <aside class="aside_right">
    <h1>right</h1>
  </aside>

  <div class="container">
    <app-time></app-time>
    <p>Greetings</p>
    <p>What's your main focus for today?</p>
    <p>Input</p>
  </div>
  
  <app-todo-card></app-todo-card>
</main>



<footer>
  <h1>Footer</h1>
</footer>
