<!--The content below is only a placeholder and can be replaced.-->

<app-background></app-background>

<header>
  <h1>Header</h1>
</header>

<main>

  <aside class="aside_left">
    <h1>left</h1>
  </aside>

  <aside class="aside_right">
    <h1>right</h1>
  </aside>

  <div class="row">
    <div class="container">
      <app-time></app-time>
      <br>
      <span>Greetings</span>
      <br>
      <span>What's your main focus for toady?</span>
      <br>
      <span>Input</span>
    </div>
  </div>

</main>

<footer>
  <h1>Footer</h1>
</footer>
