<!--The content below is only a placeholder and can be replaced.-->

<app-background></app-background>
<header>
    <h1 class="white">Header</h1>
</header>
    <aside class="aside_left" >
        <h1 class="white">left</h1>
    </aside>
    <aside class="aside_right">
        <h1 class="white">right</h1>
    </aside>
    <div class="row">
        <div id=center class="container">
            <app-time></app-time>
            <br>
            <span class="white">Greetings</span>
            <br>
            <span class="white">What's your main focus for toady?</span>
            <br>
            <span class="white">Input</span>
        </div>
    </div>
<footer>
    <h1 class="white">Footer</h1>
</footer>